.logo {
    width: 100px;
}

.main {
    width: 730px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}

body {
    background: #f3f3f3;
}
.navbar-brand{
padding: 0px 15px;
}

.page-title {
    text-align: center;
}

body{
    ;
}